__pycache__/
*.py[cod]
*.pyo

venv/
.env/
env/

*.env
*.ini
*.cfg
*.secret
*.sqlite3

.ipynb_checkpoints
.vscode/
.idea/

.DS_Store
Thumbs.db

*.log

htmlcov/
.tox/
.coverage
.pytest_cache/
dist/
build/
